@import "../../styles/contants.scss";

.wrapper {
  .bigContainer {
    @media (max-width: $md) {
      flex-direction: column;
    }
    display: flex;
    flex-direction: row;

    .leftContainer {
      
      @media (max-width: $md) {
        width: 100%;
      }
      width: 500px;
      flex-direction: column;
    }

    .rightContainer {
      width: 100%;
    }
  }
}
